@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@800&family=PT+Sans:ital@1&family=Playfair+Display:ital@1&family=Poppins:ital,wght@0,300;0,700;1,100&family=Roboto&family=Source+Sans+Pro:wght@400;600&family=Work+Sans:ital,wght@1,200&display=swap');
.background_image1:before {
    content: "";
    width: 40%;
    height: 100%;
    background-color: #80A7FF;
    position: absolute;
    left: 0;
    top: 0;
     font-family: 'Source Sans Pro', sans-serif;
}

.form-container {
position: relative;
  display: flex;
}

.form-container .right-container {
  border-radius: 44px;
  background-color: #FBF1D3; 
  top: 3px;
  position: relative;
  margin-right: 171px;
 width: 587px;
  height: 580px;
  margin-left: 60px;
  margin-top: 70px;
  border: 1px solid;
}


form {

     position: relative;
    top: 402px;
    left: 21%;
    transform: translate(-50%, -50%);
    margin: 0 auto;
    display: flex;
   
    height: 464px;
    width: 301px;
    padding: 38px;
    border: 1px solid #ccc;
    border-radius: 70px;
    background-color:   #c7f0ef;
}

label {
    display: block;
    margin-bottom: 10px;
    font-size: 1.2em;
    font-weight: bold;
}

input[type="file"] {
   
    padding: 12px 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    height: 58px;
    border-radius: 12px;
    font-size: 20px;
    background-color: rgba(73, 64, 187, 0.8);
}

input[type="submit"] {
    width: 100%;
    background-color: #4649FF;
    color: white;
    padding: 14px 20px;
    margin-bottom: 20px;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    font-size: 30px;
    height: 58px;
}



input[type="submit"]:hover {
    background-color:#4649FF;
}
h3 {
 text-align: center;
 font-family: 'Roboto', sans-serif;
}
.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
a {
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    margin-left: 64px;
}
form {
   border: 1.8px dashed grey;
    display: flex;
    flex-wrap: wrap;
    
}

input[type="file"], input[type="submit"] {
    width: 100%;
}

h1 {
    font-size: 24;

}

.center-text {
    text-align: center;
}
.image_section {
    display: flex;
    align-items: center;
    justify-content: center;
     overflow: hidden;
}

.image_section img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
    border-radius: 50%;
}

.nvabar.bg-light {
    background-color: #FFFFFF !important;
}