<head>
   <link rel="stylesheet" type="text/css" href="/style.css">

 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="css/styles.css">

  <!-- Font Awesome -->
  <script defer src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

  <!-- Bootstrap Scripts -->
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" />
</head>

<body>
<section class="background_image1">
    <nav class="navbar navbar-expand-lg bg-body-tertiary bg-light">
  <div class="container-fluid body_background1" >
    <a class="navbar-brand" href="#" style="margin-right: 1162px;"><img src="logo1.png" style="height:'100px'; width:'100px'" ></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Sign In</a>
        </li>
        </ul>
      
    </div>
  </div>
</nav>
    <div class="d-flex fixed-top align-items-center justify-content-center" style="border: none; height:100vh">
    <div class="card mb-3" style="max-width: 900px; margin-left: 150px; border-top: none; border-left: none;  top: -42px; border-right: none; border-bottom: none; left: -42px;">
  <div class="row g-0">
    <div class="col-md-4 image_section" style="box-shadow: -5px 5px 10px #CCC; background-color: #F4ECE6;">
      <img src="https://static.vecteezy.com/system/resources/thumbnails/000/217/371/small/vector-office-character-illustration.jpg" class="img-fluid rounded-start" alt="...">
     
    </div>
    <div class="col-md-8">
      <div class="card-body">
        <h2 class="card-title" style="margin-bottom:60px;"><span style="font-family:comic sans ms,comic-sans-w01-regular,comic-sans-w02-regular,comic-sans-w10-regular,cursive; font-weight: 600;"><span style="font-size:98px; color: #4B56D2;">Docify</span></span></h2>

<p class="card-title" style="line-height:normal; margin-bottom: 32px; font-size:30px;  
    line-height: 1.4em;"><span style=" letter-spacing:normal; font-weight: 600; ">The Document Search Engine Superhero</span></p>
    <div><p style="
    padding-left: 42px;
    padding-right: 52px;
    font-size: 19px;
    letter-spacing: 0.6px;
    margin-bottom: 55px;
">Handles your millions of files  and makes them searchable  with such an ease that next time you will say I want to docify it!</p></div>
      <div>
      <button onclick="window.location.href='/index'" style="margin-left: 60px; border: none; border-radius: 34px; background-color: #4B56D2;  font-weight: 700; color: #FFFFFF; width: 148px; height: 43px;">UPLOAD</button><button onclick="window.location.href='/search'" style="font-weight: 700; width: 148px; margin-left: 88px; font-weight: 700; border-radius: 34px; background-color: #FFFFFF; height: 43px;">SEARCH</button>
        </div>
        
      </div>
    </div>
  </div>
</div>
</div>
</section>
</body>