<head>
  <link rel="stylesheet" type="text/css" href="/style.css">
</head>
<h1 
style="
    font-size: 28px;
    font-family: 'Roboto';
    display: flex;
    margin: auto 0;
    position: absolute;
    left: 380px;
    top: 77px;">UPLOAD <h1 style=" font-size: 28px;
    font-family: 'Roboto';
    display: flex;
    margin: auto 0;
    position: absolute;
    left: 492px;
    top: 77px;">FILES</h1></h1>
<div class="form-container">
  <form action="/upload" method="post" enctype="multipart/form-data">
    <h1 style="font-family: 'Roboto';" class="center-text">Drop your documents here or select</h1>
    <a href="#" onclick="document.querySelector('input[type=file]').click()">Click here to upload files</a>
    <input type="file" name="file" style="display:none"/>
    <img src="1.png" style="margin-left: 36px">
    <input type="submit" value="Upload" /><br>
  </form>
  <div class="right-container">
  <% if (typeof indexedFiles != 'undefined' && indexedFiles.length > 0) { %>
    <% for (let i = 0; i < indexedFiles.length; i++) { %>
      <div class="uploaded-file" style="  margin-left: 100px; font-size: 22px;
    margin-top: 28px;">
        <% switch (indexedFiles[i].fileType) {
          case 'application/pdf':
            %><img src="pdf.png" class="file-logo" /><%
            break;
          case 'application/msword':
          case 'application/vnd.openxmlformats-officedocument.wordprocessingml.document':
            %><img src="./word.png" class="file-logo" /><%
            break;
          case 'text/csv':
            %><img src="./csv.png" class="file-logo" /><%
            break;
          case 'text/plain':
            %><img src="/image.png" class="file-logo" /><%
            break;
          case 'application/vnd.ms-powerpoint':
          case 'application/vnd.openxmlformats-officedocument.presentationml.presentation':
            %><img src="/ppt.png" class="file-logo" /><%
            break;
          default:
            %><img src="image.png" class="file-logo" /><%
            break;
        } %>
        <div class=""></div>
        <%= indexedFiles[i].fileName %>
      </div>
    <% } %>
  <% } %>

 
</div>

</div>