<html>
  <head>
    <title>Search Result</title>
  </head>
  <body>
    <h1>Search Result</h1>
    <% if (typeof q !== 'undefined' && q) { %>
      <% if (typeof fileName !== 'undefined' && fileName && typeof fileSymbol !== 'undefined' && fileSymbol) { %>
        <p>File Name: <%= fileName %></p>
        <p>File Symbol: <%= fileSymbol %></p>
      <% } else { %>
        <p>No matching results found for query: <%= q %></p>
      <% } %>
    <% } else { %>
      <p>Please enter a search query.</p>
    <% } %>
  </body>
</html>


